*.o
*.a
doc/html/
doc/latex/
extern/pcre/pcre-*.tar.bz2
extern/pcre/pcre-*/
extern/iniparser/iniparser-*.tar.gz
extern/iniparser/iniparser/
extern/pkg/
src/APme
src/APme.exe
src/apme.res
*.swp
APme*.zip
APme*.zip.sha256
